<section class="page-container">
  <section>
    <h1 class="gloock-regular">Contact with me! </h1>
  </section>
  <section class="info-block">
    <img class="myImage" src="./assets/images/Carnet.jpg" alt="My self">

    <h2 class="text-description">
      Hello! I am Ricardo, I have almost 4 years of work experience as a developer of web and mobile
      technologies focused on research at INIT (UJI). I consider myself a multidisciplinary person,
      very sociable and enthusiastic.
      I am willing to take the next step forward and welcome new opportunities.
      Besides, I love music, trailing and video games!
        <br>
      I will love talk to you! Feel free to ask anything you want 😊
    </h2>
    <section class="contact-links-container">
      <section class="copy-box">
        <p class="email" readonly>pardodevelop&#64;gmail.com</p>
        <button class="btn-custom" (click)="copyMessage(0)" value="click to copy" >{{copy_email}}</button>
      </section>

      <section class="copy-box">
        <p class="email" readonly>+34 625 897 260</p>
        <button class="btn-custom" (click)="copyMessage(1)" value="click to copy" >{{copy_tlf}}</button>
      </section>

      <section class="contact-items-container fira-code-regular">
        <a href="mailto:pardodevelop@gmail.com?subject=Hello! I saw your website :)&body=<3">
          <img class="item-icon" src="./assets/images/gmail.png" alt="GmailLogo">
        </a>
        <img class="item-icon" onclick="window.open('https://www.linkedin.com/in/ricardopardoromero/','mywindow');" src="./assets/images/linkedin.png" alt="LinkedinLogo">
      </section>

    </section>
  </section>
</section>
