$rk-dark-bg: #182125;
$rk-dark-blue: #142635;
$rk-dark-blue-hover: #1e394f;
$rk-blue: #4DA1A9;
$rk-cyan: #79D7BE;
$rk-light-green: #D3E6C7;
$rk-soft-white: #d2d0cd;
$rk-light-white: #F6F4F0;
$rk-faded-gray: #9D9D9D;
$rk-orange: #FAD851;
$rk-violet: #A748BF;
